<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}"
    layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table * {
            margin: 5px;
        }

        table {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="content">
    <br><br>
    <div class="innerOuter">
        <h2>게시글 상세보기</h2>
        <br>

        <a class="btn btn-secondary" style="float:right" href="">목록으로</a>
        <br><br>
        <table id="contentArea" align="center" class="table">
            <tr>
                <th width="100">제목</th>
                <td colspan="3" th:text="${b.boardTitle}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${b.boardWriter}"></td>
                <th>작성일</th>
                <td th:text="${b.createDate}"></td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td colspan="3">
                    <!-- 첨부파일이 없는 경우 -->
                    <th:block th:if="${b.originName == null}">
                        첨부파일이 없습니다.
                    </th:block>
                    <!-- 첨부파일이 있는 경우 uploaeFiles - config확인-->
                    <!--
                        {file} => 타임리프 url 템플릿 변수
                        @{..} 안에서 특정 변수(변하는 값)를 활용하고 싶다면 템플릿 변수를 사용해야 함
                        그렇지 않으면 리터럴리 ${b.changeName}이 들어감.

                        th:arre => 타임 리프에서 HTML 태그의 속성을 동적으로 지정할 때 사용하는 속성
                    -->
                    <th:block th:unless="${b.originName == null}">
                        <a download="" th:attr="download=${b.originName}" th:href="@{/uploadFiles/{file}(file=${b.changeName})}" th:text="${b.originName}"></a>
                    </th:block>

                </td>
            </tr>
            <tr>
                <th>내용</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="4"><p style="height:150px" th:text="${b.boardContent}">피자가 먹고싶네오</p></td>
            </tr>
        </table>
        <br>

        <div align="center" th:if="${session.loginUser != null}
                                    and
                                    ${session.loginUser.userId == b.boardWriter}">
                <!-- 수정하기, 삭제하기 버튼은 이글이 본인글일 경우만 보여져야됨 -->
                <a class="btn btn-primary" onclick="postFormSubmit(1)">수정하기</a> <!-- 요기에 href="" 를 작성하면 get방식이기 떄문에 노출된다. -->
                <a class="btn btn-danger" onclick="postFormSubmit(2)">삭제하기</a>
        </div><br><br>

        <form id="postForm" action="" method="post">
            <input type="hidden" name="bno" th:value="${b.boardNo}">
            <input type="hidden" name="changeName" th:value="${b.changeName}">

        </form>

        <script>

            function postFormSubmit(num){
                if(num == 1){ // 수정하기
                    $("#postForm").attr("action","updateForm.bo").submit();

                }else{ // 삭제하기
                    $("#postForm").attr("action","delete.bo").submit();
                }
            }

        </script>



        <!-- 댓글 기능은 나중에 ajax 배우고 접목시킬예정! 우선은 화면구현만 해놓음 -->
        <table id="replyArea" class="table" align="center">
            <thead>
            <tr>
                <th:block th:if="${session.loginUser == null}">
                    <th colspan="2">
                        <textarea class="form-control" name="" cols="55" rows="2" style="resize:none; width:100%" readonly>로그인 후 이용가능한 서비스 입니다.</textarea>
                    </th>
                    <th style="vertical-align: middle"><button class="btn btn-secondary" disabled>등록하기</button></th>
                </th:block>


                <th:block th:unless="${session.loginUser == null}">
                    <th colspan="2">
                        <textarea class="form-control" name="" id="content" cols="55" rows="2" style="resize:none; width:100%"></textarea>
                    </th>
                    <th style="vertical-align: middle"><button class="btn btn-secondary" onclick="insertReply()">등록하기</button></th>
                </th:block>

            </tr>
            <tr>
                <td colspan="3">댓글 (<span id="rcount">0</span>) </td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <br><br>

    <!-- loginUser가 null이 아닐때만 replyWriter 셋팅! -->
    <th:block th:if="${session.loginUser != null}">
        <script th:inline="javascript">
            let replyWriter = [[${session.loginUser.userId}]]
        </script>
    </th:block>

    <script th:inline="javascript">
        let boardNo = [[${b.boardNo}]]
    </script>

    <script>


        $(function(){
            selectReplyList(); // 함수 이름을 지어줌(순서1)
        })

        function insertReply(){ // 댓글작성용 ajax
           if($("#content").val().trim().length!=0){ // 유효한 댓글 작성시 = >
               $.ajax({
                   url:"rinsert.bo",
                   data:{
                       refBoardNo:boardNo,
                       replyContent:$("#content").val(),
                       replyWriter:replyWriter,
                   },success:function(status){
                       if(status === "success"){
                           selectReplyList();
                           $("#content").val("");
                       }else{

                       }
                   },error:function(){

                   }

               })
           }else{
               alertify.alert("댓글 작성 후 등록 요청 해주세요!")
           }


       }

        function selectReplyList(){ // 해당 게시글에 딸린 댓글리스트 조회용 ajax(순서2)
            $.ajax({
                url:"rlist.bo",
                data:{bno:boardNo}, // 여기서 문자면 String으로 감싸줘야할 수도 있음
                success:function(list){

                    console.log(list)

                    let value = "";
                    for(let i in list){
                        value += "<tr>"
                                   + "<th>" + list[i].replyWriter + "</th>"
                                   + "<td>" + list[i].replyContent + "</td>"
                                   + "<td>" + list[i].createDate + "</td>"
                               + "</tr>"
                    }
                    $("#replyArea tbody").html(value);
                    $("#rcount").text(list.length);
                }, error:function(){
                    console.log("댓글 리스트 조회용 ajax 통신 실패")
                }
            })
        }
    </script>


</div>
</body>
</html>